* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

:root {
	--darkest: #232931;
	--grey: #393e46;
	--green: #4ecca3;
	--white: #eeeeee;
}

.relative_box {
    position: relative;
    width: 100%;
	height: 100vh;
	background: linear-gradient(144deg, rgba(35,41,49,1) 0%, rgba(57,62,70,1) 33%, rgba(238,238,238,1) 100%);
}

.absolute_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 600px;
    background: var(--darkest);
    border-radius: 10px;
}

ul#messages {
    padding: 20px;
}

li#list {
    text-align: right;
    background: var(--green);
    padding: 6px;
    right: 19px;
    border-radius: 10px;
    margin: 5px 0;
    color: var(--darkest);
}

li {
    background: var(--grey);
    list-style-type: none;
    padding: 6px 15px;
    border-radius: 10px;
	color: var(--white);
	margin: 10px 0;
}

.input_forms {
    position: absolute;
    bottom: 0;
    background: var(--grey);
    width: 100%;
    padding: 15px;
    border-radius: 0 0 10px 10px;
}

input#m {
    width: 90%;
    padding: 5px 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: var(--white);
}

button {
    border-radius: 100%;
    padding: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--white);
	color: var(--green);
	margin: 0 9px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--darkest);
	opacity: 1; /* Firefox */
}