* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

:root {
	--darkest: #232931;
	--grey: #393e46;
	--green: #4ecca3;
	--white: #eeeeee;
}

.relative_box {
    position: relative;
    width: 100%;
	height: 100vh;
	background: linear-gradient(144deg, rgba(35,41,49,1) 0%, rgba(57,62,70,1) 33%, rgba(238,238,238,1) 100%);
}

.absolute_box {
    position: fixed;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    height: 500px;
    width: 300px;
    background: var(--darkest);
    border-radius: 10px 10px 0 0;
    bottom: 0;
    right: 50px;
}

ul#messages {
    padding: 0 20px;
    height: 397px;
    overflow: auto;
    background: #5c626b;
}

.header{
    padding: 10px;
    color: var(--white);
}

.header:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--green);
    /* right: 0; */
    top: 17px;
    left: 59px;
    border-radius: 100%;
}

li#list {
    text-align: right;
    background: var(--green);
    padding: 6px;
    right: 19px;
    border-radius: 10px;
    margin: 5px 0;
    color: var(--darkest);
}

li {
    background: var(--grey);
    list-style-type: none;
    padding: 6px 15px;
    border-radius: 10px;
	color: var(--white);
	margin: 10px 0;
}

.input_forms {
    position: absolute;
    bottom: 0;
    background: var(--grey);
    width: 100%;
    padding: 15px;
    /* border-radius: 0 0 10px 10px; */
}

input#m {
    width: 79%;
    padding: 5px 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: var(--white);
}

button {
    border-radius: 100%;
    padding: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--white);
	color: var(--green);
	margin: 0 9px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--darkest);
	opacity: 1; /* Firefox */
}

.hide {
    display: none;
}

.littleAbsoluteBox {
        position: fixed;
        /* top: 50%; */
        /* left: 50%; */
        /* transform: translate(-50%, -50%); */
        height: 43px;
        width: 300px;
        background: var(--darkest);
        border-radius: 10px 10px 0 0;
        bottom: 0px;
        right: 50px;
}

.web_page_header {
    position: relative;
    width: 100%;
    height: 60vh;
    /* background: var(--grey); */
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
    font-size: 2.4rem;
    color: var(--white);
}

.images {
    position: absolute;
    right: 311px;
    top: 67px;
    transform: rotate(10deg);
}

.text p {
    color: var(--green);
}

.flexbox_container {
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flexbox_container > div {
    height: 300px;
    width: 400px;
    background: var(--darkest);
    margin: 10px 10px;
    border: 2px solid var(--green);
    border-radius: 10px;
    overflow: hidden;
}

.content_image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform .5s, filter 1s ease-in-out;
    filter: grayscale(100%);
    
}

.content_image:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}


@media only screen and (max-width: 600px) {
	.absolute_box {
		width: 300px;
	}
	input#m {
		width: 79%;
	}
}